@model EmployeeVM

<div class="card shadow border-0" style="margin-bottom: 60px">
    <div class="card-header bg-secondary bg-gradient m-lg-0 py-3">
        <div class="rox">
            <div class="col-12 text-center">
                <h2 class="text-white py-2">@(Model.Employee.Id != 0 ? "Update" : "Create") Employee</h2>
            </div>
        </div>
    </div>
    <div class="card-body p-4 ">
        <form method="post" class="row" enctype="multipart/form-data">
            <input asp-for="Employee.Id" hidden />
            <div class="row">
                <div class="col-10">
                    <div class="border p-3">
                        <div asp-validation-summary="ModelOnly"></div>
                        <div class="form-floating py-3 col-12">
                            <input asp-for="Employee.LastName" class="form-control border-0 shadow" />
                            <label asp-for="Employee.LastName" class="ms-2 text-muted"></label>
                            <span asp-validation-for="Employee.LastName" class="text-danger"></span>
                        </div>
                        <div class="form-floating py-3 col-12">
                            <input asp-for="Employee.FirstName" class="form-control border-0 shadow" />
                            <label asp-for="Employee.FirstName" class="ms-2 text-muted"></label>
                            <span asp-validation-for="Employee.FirstName" class="text-danger"></span>
                        </div>
                        <div class="form-floating py-3 col-12">
                            <input asp-for="Employee.MiddleName" class="form-control border-0 shadow" />
                            <label asp-for="Employee.MiddleName" class="ms-2 text-muted"></label>
                        </div>
                        <div class="form-floating py-3 col-12">
                            <input asp-for="Employee.BirthYear" class="form-control border-0 shadow" />
                            <label asp-for="Employee.BirthYear" class="ms-2 text-muted"></label>
                        </div>
                        <div class="form-floating py-3 col-12">
                            <input asp-for="Employee.Education" class="form-control border-0 shadow" />
                            <label asp-for="Employee.Education" class="ms-2 text-muted"></label>
                        </div>
                        <div class="form-floating py-3 col-12">
                            <input asp-for="Employee.Position" class="form-control border-0 shadow" />
                            <label asp-for="Employee.Position" class="ms-2 text-muted"></label>
                            <span asp-validation-for="Employee.Position" class="text-danger"></span>
                        </div>
                        <div class="form-floating py-3 col-12">
                            <input asp-for="Employee.Salary" class="form-control border-0 shadow" />
                            <label asp-for="Employee.Salary" class="ms-2 text-muted"></label>
                            <span asp-validation-for="Employee.Salary" class="text-danger"></span>
                        </div>
                        <div class="form-floating py-3 col-12">
                            <select asp-for="Employee.DepartmentId" asp-items="@Model.DepartmentList" class="form-select border-0 shadow">
                                <option disabled selected>--Select Department--</option>
                            </select>
                            <label asp-for="Employee.DepartmentId" class="ms-2 text-muted"></label>
                            <span asp-validation-for="Employee.DepartmentId" class="text-danger"></span>
                        </div>
                        <div class="form-floating py-3 col-12">
                            <select asp-for="Employee.SupervisorId" asp-items="@Model.EployeeList" class="form-select border-0 shadow">
                                <option disabled selected>--Select Supervisor--</option>
                            </select>
                            <label asp-for="Employee.SupervisorId" class="ms-2 text-muted"></label>
                        </div>
                        <div class="row pt-2">
                            <div class="col-6 col-md-3">
                                @if (Model.Employee.Id != 0)
                                {
                                    <button type="submit" class="btn btn-primary form-control">Update</button>
                                }
                                else
                                {
                                    <button type="submit" class="btn btn-primary form-control">Create</button>
                                }

                            </div>
                            <div class="col-6 col-md-3">
                                <a asp-controller="Home" asp-action="Index" class="btn btn-outline-light form-control border-dark text-muted">
                                    Back to List
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </form>
    </div>
</div>



@section Scripts{
    <script>
        tinymce.init({
            selector: 'textarea',
            plugins: 'anchor autolink charmap codesample emoticon lists table visualblocks wordcount',
            toolbar: 'undo redo | blocks fontfamily fontsize | bold italic underline strikethrough | addcomment showcomments | spellcheckdialog a11ycheck typography | align lineheight | checklist numlist bullist indent outdent',
            tinycomments_mode: 'embedded',
            tinycomments_author: 'Author name',
            mergetags_list: [
                { value: 'First.Name', title: 'First Name' },
            ]
        });
    </script>
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}